{
	"bracketSpacing": true,
	"arrowParens": "always",
	"requirePragma": false,
	"insertPragma": false,
	"proseWrap": "never",
	"endOfLine": "lf",
	"htmlWhitespaceSensitivity": "ignore",
	"embeddedLanguageFormatting": "auto",
	"quoteProps": "as-needed",
	"singleAttributePerLine": false,
	"plugins": [
		"prettier-plugin-organize-imports",
		"prettier-plugin-packagejson"
	],
	"overrides": [
		{
			"files": ".prettierrc",
			"options": { "parser": "json" }
		}
	],
	"semi": true,
	"singleQuote": false,
	"tabWidth": 4,
	"useTabs": true
}
