## Docker image tag
# default:latest [External Dev Don't Need to Fill Below Variable]
NGINX_IMAGE_TAG=
NODE_IMAGE_TAG=21.6.0-alpine3.18
# GOLANG_IMAGE_TAG=1.21.3-alpine3.18
GOLANG_IMAGE_TAG=1.25.4-bookworm

## Frontend ENV Configs
VITE_API_URL=/api/dev
NODE_ENV=development
VITE_APP_TITLE=臺北城市儀表板
VITE_APP_VERSION=2.0.0
VITE_MAPBOXTOKEN=
VITE_MAPBOXTILE=
VITE_PERSONAL_BOARD_UPDATE=

## Dashboard backend Server ENV Configs
GIN_MODE=debug # gin mode can be release(default)/debug/test
# GIN_DOMAIN should be set to 0.0.0.0 during dev
GIN_DOMAIN=0.0.0.0
GIN_PORT=8080
JWT_SECRET=secret
IDNO_SALT=salt
# [External Dev Don't Need to Fill Below Variable]
ISSO_URL=
# [External Dev Don't Need to Fill Below Variable]
TAIPEIPASS_URL=
# [External Dev Don't Need to Fill Below Variable]
ISSO_CLIENT_ID=
# [External Dev Don't Need to Fill Below Variable]
ISSO_CLIENT_SECRET=
# [External Dev Don't Need to Fill Below Variable]
ISSO_CLIENT_SCOPE=
DASHBOARD_DEFAULT_USERNAME=
DASHBOARD_DEFAULT_Email=
DASHBOARD_DEFAULT_PASSWORD=

## DB Configs
# Dashboard data DB
DB_DASHBOARD_HOST=postgres-data
DB_DASHBOARD_USER=postgres
DB_DASHBOARD_PASSWORD=
DB_DASHBOARD_DBNAME=dashboard
DB_DASHBOARD_PORT=5432
DASHBOARD_SAMPLE_FILE=dashboard-demo.sql

# Dashboard Manager DB
DB_MANAGER_HOST=postgres-manager
DB_MANAGER_USER=postgres
DB_MANAGER_PASSWORD=
DB_MANAGER_DBNAME=dashboardmanager
DB_MANAGER_PORT=5432
MANAGER_SAMPLE_FILE=dashboardmanager-demo.sql

# Redis Configs
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0

# pgadmin
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=
PGADMIN_LISTEN_PORT=80

# Qdrant Configs
QDRANT_URL=http://qdrant:6333
QDRANT_API_KEY=your_api_key
QDRANT_COLLECTION=query_charts

#Model Path
LM_MODEL_PATH=/opt/lm_model/onnx-e5/

# TWCC AI Foundry Service
TWCC_API_URL=https://api-ams.twcc.ai/api
TWCC_API_KEY=your_twcc_api_key_here
TWCC_MODEL=llama3.3-ffm-70b-16k-chat
TWCC_TIMEOUT=60
TWCC_MAX_RETRY=2
TWCC_MAX_CONCURRENT=10
